{% extends 'base1.html' %}

{% block body %}
  <div class="row justify-content-center" >
    <div class="col-lg-8" >
        <div class="card">
            <div class="card-header">
                <h2 class="text-center">Liste de categories</h2>
            </div>
            <div class="card-body">
                <div class="d-flex justify-content-end">
                    <a href="{% url 'category_create' %}" class="btn btn-sm btn-outline-primary btn-icon-text">
                        <i class="ti-plus"></i>
                        Ajouter une categorie
                    </a>
                </div>
                
                <table class="table display" id="table">
                    <thead>
                        <tr>
                            <th class="text-center">Designation</th>
                            <th class="text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for category in categories %}
                      <tr>
                          <td class="text-center fw-bold">{{ category.designation }}</td>
                          <td class="text-center">
                            <a href="{% url 'category_update' category.id %}" class="btn btn-sm btn-outline-primary btn-rounded btn-fw">
                                <i class="ti-pencil"></i>
                                Modifier
                            </a>
                            <a href="{% url 'category_delete' category.id %}" class="btn btn-sm btn-outline-danger btn-rounded btn-fw">
                                <i class="ti-trash"></i>
                                Supprimer
                            </a>
                          </td>
                      </tr>
                    {% endfor %}
                    </tbody>
                </table>
                
            </div>              
        </div>
    </div>
  </div>


{% endblock %}





