{% extends "base1.html" %}

{% block body %}
<div class="row justify-content-center" >
    <div class="col-md-6 stretch-card" >
        <div class="card">
            <div class="card-header">
                <h2>Confirmer la suppression de {{ product }}</h2>
            </div>
            <div class="card-body">
                <p>Êtes-vous sûr(e) de vouloir supprimer {{ product }} ? Cette action ne peut pas être annulée.</p>
                <form method="post">
                  {% csrf_token %}
                  <input type="submit" class="btn-outline-danger " value="Supprimer">                </form>
            </div>
            
            <div class="card-footer">
                <a href="{% url 'product_list' %}">
                    <i class="ti-back-left"></i>
                    Retour à la liste
                </a>
            </div>                
        </div>
    </div>
</div>


  <h2></h2>
  
{% endblock %}
